{% extends 'working/html/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static './add.css' %}">
<body>
    <div class="heading-add">
        <h2 class="heading">Manage your data here</h2>
    </div>
    <div class="data-adding">
        

        <form class = "form-field" method = "POST" >
            {% csrf_token%}
            {% for form in forms %}
                {{form.label_tag}} : {{ form }}
            {% endfor %}
            <input class= "form-sub" type="submit" value="Submit">
        </form>
            {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class = " alert alert-{{message.tags}} mb-5 {% endif %}">{{ message }}</p>
                {% endfor %}
            {% endif %}

            <a href="{% url 'add_employee' %}"><button class = "btn btn-primary emp-button" >Add employee here</button></a>
    </div>
    <div class="employee-list">
            <table width="100%" height="90%" class = "table">
                <thead> 
                    <tr>
                        <th class="head">Id</th>
                        <th class="head">Employee name</th>
                    </tr>
                    <tbody>
                        {% for e in emp %}
                        <tr>
                            <td class="detail"><a href="">{{ e.id }}</a></td>
                            <td class="detail"><a href="{% url 'add_ex' e.id %}">{{e.emp_name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        <!-- employee data goes here -->
    </div>
    <div class="data-view">
        <table width="100%" height="100%" class = " table">
                <tr>
                    <th class="f head-view head">Dates</th>
                    <th class="f head-view head">Time ( in hours )</th>
                    <th class="f head-view head">Reason</th>

                </tr>
                
                <!--data loop will go here ( just one table of block ''| time: 'h:i a' '')-->
                {% for data in datas %}
                <tr>
                    <th class="f head-view">{{ data.date_ot }}</th>
                    <td class="head-view">{{ data.overTime }}( in hours )</td>
                    <td class="head-view">{{ data.reaion}}</td>
                </tr>
                {% endfor %}
        <!-- data in deatil goes here -->
    </div>

</body>

{% endblock %}